footer  {
        display:table;
        background-color:#00FF00;
        position:absolute;
        bottom:0;
        height:60px;
        width:100%
        }

footer p    {
            display:table-cell;
            vertical-align:middle;
            text-align: center;
            }